<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="/fragments/head :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="/fragments/navbar :: nav"></nav>
 <!-- Header -->
<header th:replace="/fragments/headergenerico :: header"></header>
  

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/m1.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-12 order-lg-1">
          <div class="p-5">
              <h1>Usuario Logueado</h1>
              
              <table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
				</tr>
			</thead>
			<tbody th:each="usuario : ${usuarios}"> 
				<tr>
					<td th:text="${usuario.nombre}"></td>
					<td th:text="${usuario.apellido}"></td>
				</tr>

			</tbody>
		</table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
 <script th:replace="/fragments/boostjs :: script"></script>

</body>

</html>
