<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="/fragments/head :: head"></head>
<body>
<!-- Navigation -->
<nav th:replace="/fragments/navbar :: nav"></nav>
<!-- Header -->
<header th:replace="/fragments/headergenerico :: header"></header>
                                            <section>
                                                <div class="container">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-6 order-lg-2">
                                                            <div class="p-5">
                                                                <img th:if="${perfil.foto != null}" class="img-fluid rounded-circle" th:src="${'/foto/usuario/' + perfil.id}" alt="">
                                                                <img th:if="${perfil.foto == null}" class="img-fluid rounded-circle" src="img/m1.jpeg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 order-lg-1">
                                                            <div class="p-5">
                                                                <h2 class="display-4">Actualiza tu perfil</h2>
                                                                <form action="/usuario/actualizar-perfil" method="POST" enctype="multipart/form-data">

                                                                    
                                                                    <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
                                                            
                                                                    <input type="hidden" name="id" th:value="${perfil.id}"/>
                                                                    
                                                                    <label>Nombre</label>
                                                                    <input type="text" class="form-control" name="nombre" th:value="${perfil.nombre}"/>

                                                                    <label>Apellido</label>
                                                                    <input type="text" class="form-control" name="apellido" th:value="${perfil.apellido}" />

                                                                    <label>E-Mail</label>
                                                                    <input type="email" class="form-control" name="mail" th:value="${perfil.mail}"/>

                                                                    <label>Foto</label>
                                                                    <input type="file" class="form-control" name="archivo"/>

                                                                    <label>Zona</label>
                                                                    <select class="form-control" name="idZona"> 
                                                                        <option th:each="zona : ${zonas}" th:value="${zona.id}" th:text="${zona.nombre}" th:selected="${perfil.zona != null && zona.id == perfil.zona.id}"></option>
                                                                    </select>


                                                                    <label>Clave</label>
                                                                    <input type="password" class="form-control" name="clave1" th:value="${clave1}"/>

                                                                    <label>Repetir Clave</label>
                                                                    <input type="password" class="form-control" name="clave2" th:value="${clave2}"/>

                                                                    <br/><button type="submit" class="btn btn-primary">Actualizar Perfil</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>


                                            <!-- Footer -->
                                            <footer class="py-5 bg-black">
                                                <div class="container">
                                                    <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
                                                </div>
                                                <!-- /.container -->
                                            </footer>

 <!-- Bootstrap core JavaScript -->
 <script th:replace="/fragments/boostjs :: script"></script>


                                        </body>

                                        </html>
