HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/Guia 07 Java Colecciones/guia07_Extra03/nbproject/private/
/Guia 12 JDBC/Tienda_Clande/nbproject/private/
/Guia 13 JPA/Libreria2/nbproject/private/
/Guia 13 JPA/Libreria/nbproject/private/
