<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    <body>
        <nav th:replace="/fragments/nav-bar :: nav-bar-dark"> </nav>
        <div class="container">
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                <span th:text="${error}" ></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${success}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <span th:text="${success}" ></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="card mt-3">
                <div class="card-header d-flex">
                    <h1> Lista de Personas</h1>
                    <button class="btn-dark px-5 py-2 ms-auto"><a th:href="@{/persona/form}">Crear Persona</a></button>
                </div>
                <div class="card-body">
                    <form class="row g-3" th:action="@{/persona/list}" method="GET">
                        <div class="col">
                            <input type="text" style="width: 100%;" name="q" placeholder="Buscar...">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-dark mb-3">Buscar</button>
                        </div>
                    </form>
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Edad</th>
                                <th>Ciudad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each=" p,iterator : ${personas} ">
                                <td th:text="${iterator.index+1}"></td>
                                <td th:text="${p.nombre}"></td>
                                <td th:text="${p.apellido}"></td>
                                <td th:text="${p.edad}"></td>
                                <td th:text="${p.ciudad} == null ? 'no tiene' : ${p.ciudad.nombre} "></td>
                                <td>
                                    <button class="btn-dark"><a th:href="@{/persona/delete}+'?id='+${p.id}" class=" px-5 py-2 ">Eliminar</a></button>
                                    <button class="btn-dark"><a th:href="@{/persona/form}+'?id='+${p.id}" class=" px-5 py-2 ">Editar</a></button>
                                </td>
                            </tr>
                        </tbody>
                        <p th:if="${personas.isEmpty}">No hay personas para mostrar</p>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>