<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
<body id="inicio">
    <!-- Esta linea se usa para obtener la información de logeo solo si se tiene en las dependencias del POM  thymeleaf-extras-springsecurity5-->
    <!-- <span th:text="${#authentication.getPrincipal().getUsername()}"></span> <span th:text="${#authentication.getPrincipal().authorities}"></span> -->
    <header class="masthead">
        <!-- NavBar -->
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Biblioteca</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Gestión de Libros web</h2>
                    <a class="btn btn-primary" th:href="@{/libros/lista}"><i class="fas fa-book"></i> libros</a>
                    <a class="btn btn-primary" th:href="@{/autores/lista}"><i class="fas fa-user-edit"></i> autores</a>
                    <a class="btn btn-primary" th:href="@{/editoriales/lista}"><i class="far fa-newspaper"></i> editoriales</a>
                    <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" th:href="@{/editoriales/lista}"><i class="fas fa-user-edit"></i> usuarios</a>
                </div>
            </div>
        </div>
    </header>
<!-- Proyecto -->
<section class="about-section text-center" id="proyecto">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Ejercicio Final EGG Programacion FullStack</h2>
                <p class="text-white-50">
                    Sistema de Guardado de una Librería Web 
 
                    El objetivo de este ejercicio consiste en el desarrollo de un sistema web de guardado de 
                    libros en JAVA utilizando una base de datos MySQL, JPA Repository para persistir 
                    objetos y Spring Boot como framework de desarrollo web.

                </p>
            </div>
        </div>
    </div>
</section>
<!-- Login -->
<section class="about-section text-center" id="registro">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-7">
                <h2 class="display-4">Nuevo usuario</h2>
                <form th:action="@{/usuario/login}" method="post">
                    <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                    <p th:if="${logout != null}" th:text="${logout}" style="color:greenyellow"></p>
                    <label class="text-white mb-2">E-Mail</label>
                    <input type="email" class="form-control" name="username"/>
                    <br>
                    <label class="text-white mb-2">Contraseña</label>
                    <input type="password" class="form-control" name="password"/>  
                    <br> 
                    <button type="submit" class="btn btn-primary"><i class="fas fa-book"></i> INGRESAR</button>
                    <a class="btn btn-primary" th:href="@{/usuario/registro}"><i class="fas fa-book"></i> Registrarse</a>
                    <br>
                    <br>
                </form>    
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer th:replace="/fragments/footer :: footer"></footer>
<!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
