<!DOCTYPE html>
<!--
Sin licencia.
Uso para capacitación
2021 Año de la Prevención y Lucha contra el COVID-19.
-->
<html>

<head th:replace="/fragments/head :: head"></head>

<body>

    <!-- Header -->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h3 class="masthead-subheading mb-2">Biblioteca OnLine</h1>
                    <br>
                    <h2 th:text="${titulo}"></h2>
                    <p th:text="${descripcion}"></p>
                    <h2 class="masthead-subheading mb-0" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre + ' ' +session.usuariosession.apellido}"></h2>
                    <a th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}" th:if="${session.usuariosession != null}" class="btn btn-primary btn-xl rounded-pill mt-5">Configura tu perfil</a>
                    <a th:href="@{/login}" class="btn btn-primary btn-xl rounded-pill mt-5">Login</a>
            </div>
        </div>
    </header>
    <!-- Pie de Página -->
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>