<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org"></html>
  <head th:replace="/fragments/head :: head"></head>
  <body>
    <!-- NavBar -->
    <nav th:replace="/fragments/navbar :: nav"></nav>
    <!-- Header -->
    <header class="masthead2">
      <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="masthead-content container text-center">
            <br><h1>Biblioteca OnLine</h1>
        </div>
      </div>               
    </header>
    <div class="d-flex justify-content-center">
        <div class="container text-center">
            <br>
            <h2 class="text-white-70 mx-auto mt-2 mb-5" th:text="${titulo}"></h2>
            <p class="text-white-70 mx-auto mt-2 mb-5" th:text="${descripcion}"></p>
            <a th:href="@{/login}" class="btn btn-primary btn-xl mt-3 mb-3">Ingresar</a>
            <br>
        </div>
    </div>
    <!-- Pie de Página -->
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
