body {
    background-color: rgb(40, 40, 51);
    font-family: arial;
    color: whitesmoke;
    }
    h1 {
        font-size: 16;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;
        text-align: center;
        background-color: rgb(121, 158, 158);
        }
    h2 {
            font-size: 14;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: underline;
            text-align: center;
            background-color: rgb(181, 243, 243);
        }
    p {
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    text-align: left;
    }
    a{

        color: #CC0000;

    }

    a:hover{

        background-color: #CC0000;
        color: #FFF;

    }

    a:visited{

        color: #CCC;

    }