  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Tinder de Mascota</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/registro"  th:if="${session.usuariosession == null}">Registrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login" th:if="${session.usuariosession == null}" >Log In</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}" th:if="${session.usuariosession != null}" >EDITA TU PERFIL</a>
          </li>
           </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout" th:if="${session.usuariosession != null}" >SALIR</a>
          </li>
          <li class="nav-item">
			<a class="nav-link" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/dashboard}">Dashboard</a>          
		  </li>
        </ul>
      </div>
    </div>
  </nav>
